:root{
    --blue-color: #0478b3;
    --yellow-color: #efcf1a;
    --green-color: #01994e;
    --cover-color: #111;
    --background-color: #fff;
}

html body{
    margin: 2rem 25% 0 25%;
}
.box{
    width: 45rem;
    height: 30rem;
    border: var( --background-color/*--cover-color*/) solid .5rem;
}

.box .blue{
    width: 45rem;
    height: 15rem;
    background: var(--blue-color);
}

.box .blue .sun{
    width: 5rem;
    height: 5rem;
    position: absolute;
    margin: 4.8% 0 0 35%;
    border-radius: 50%;
    border: var(--yellow-color/**--cover-color**/) solid .6rem;
}

.box .blue #sun-circle{
    width: 4rem;
    height: 4rem;
    background: var(--yellow-color);
    position: absolute;
    margin: 6% 0 0 36.2%;
 /*   border: var(--blue-color) solid .2rem; */
    border-radius: 50%;
} 

/* Styling Sun Rays */
.box .blue #sun-circle #sun-rays-1{
    width: .9rem;
    height: 3.4rem;
    margin: -100% 0 0 50%;
    background: var(--yellow-color);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.box .blue  #sun-rays-2{
    width: .9rem;
    height: 3.4rem;
    background: var(--yellow-color);
    margin: 130% 0 0 50%;
 /**   transform: rotateY(180deg); **/
 clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.box .blue #sun-rays-3{
    height: .9rem;
    width: 3.4rem;
    background: var(--yellow-color);
    margin: -160% 0 0 112%;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}

.box .blue  #sun-rays-4{
    height: .9rem;
    width: 3.4rem;
    background: var(--yellow-color);
    transform: rotateX(180deg);
    margin: -16% 0 0 -100%;
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
}

/* Below Rays are between #sun-rays-1 and 2 (First quota)**/
.box .blue  #sun-rays-5{
    width: .8rem;
    height: 3.4rem;
    background: var(--yellow-color);
    margin: -164% 0 0 78%;
    transform: rotate(18deg); 
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.box .blue #sun-rays-6{
    width: .8rem;
    height: 3.2rem;
    background: var(--yellow-color);
    margin: -66% 0 0 98%;
    transform: rotate(38deg);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.box .blue #sun-rays-7{
    width: .8rem;
    height: 3.4rem;
    background: var(--yellow-color);
    margin: -72% 0 0 118%;
    transform: rotate(48deg);
    clip-path: polygon(80% 0, 0% 100%, 100% 100%);
}
.box .blue #sun-rays-8{
    width: .8rem;
    height: 3.4rem;
    background: var(--yellow-color);
    margin: -60% 0 0 134%;
    transform: rotate(68deg);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.box .blue #sun-rays-9{
    width: .8rem;
    height: 3.4rem;
    background: var(--yellow-color);
    margin: -58% 0 0 142%;
    transform: rotate(82deg);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

/* Below Rays are between #sun-rays-2 and 3 (Second quota)**/
.box .blue #sun-rays-10{
    height: .8rem;
    width: 3.4rem;
    background: var(--yellow-color);
    margin: -4% 0 0 110%;
    transform: rotate(14deg);
    /* clip-path: polygon(100% 92%, 3% 0, 0 80%); */
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}
.box .blue #sun-rays-11{
    height: .8rem;
    width: 3.4rem;
    background: var(--yellow-color);
    margin: 2% 0 0 102%;
    transform: rotate(24deg);
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}
.box .blue #sun-rays-12{
    height: .8rem;
    width: 3.4rem;
    background: var(--yellow-color);
    margin: 2% 0 0 90%;
    transform: rotate(38deg);
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}
.box .blue #sun-rays-13{
    height: .8rem;
    width: 3.4rem;
    background: var(--yellow-color);
    margin: -4% 0 0 72%;
    transform: rotate(52deg);
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}
.box .blue #sun-rays-14{
    height: .8rem;
    width: 3.4rem;
    background: var(--yellow-color);
    margin: -4% 0 0 50%;
    transform: rotate(68deg);
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}

/* Below Rays are inside #sun-rays-3 and 4 (Third quarter)*/
.box .blue #sun-rays-15{
    width: .8rem;
    height: 3.4rem;
    background: var(--yellow-color);
    margin: -48% 0 0 25%;
    transform: rotate(10deg);
    clip-path: polygon(50% 100%, 100% 0, 0 0);
}
.box .blue #sun-rays-16{
    width: .8rem;
    height: 3.4rem;
    background: var(--yellow-color);
    margin: -86% 0 0 0;
    transform: rotate(18deg);
    clip-path: polygon(50% 100%, 100% 0, 0 0);
}
.box .blue #sun-rays-17{
    width: .8rem;
    height: 3.4rem;
    background: var(--yellow-color);
    margin: -96% 0 0 -24%;
    transform: rotate(32deg);
    clip-path: polygon(50% 100%, 100% 0, 0 0);
}
.box .blue #sun-rays-18{
    width: .8rem;
    height: 3.4rem;
    background: var(--yellow-color);
    margin: -104% 0 0 -48%;
    transform: rotate(48deg);
    clip-path: polygon(50% 100%, 100% 0, 0 0);
}
.box .blue #sun-rays-19{
    width: .8rem;
    height: 3.4rem;
    background: var(--yellow-color);
    margin: -114% 0 0 -62%;
    transform: rotate(68deg);
    clip-path: polygon(50% 100%, 100% 0, 0 0);
}

/* Below Rays are inside #sun-rays-4 and 1 (Last quarter) */
.box .blue #sun-rays-20{
    height: .8rem;
    width: 3.4rem;
    background: var(--yellow-color);
    margin: -118% 0 0 -100%;
    transform: rotate(8deg);
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
}

.box .blue #sun-rays-21{
    height: .8rem;
    width: 3.4rem;
    background: var(--yellow-color);
    margin: -46% 0 0 -92%;
    transform: rotate(16deg);
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
}

.box .blue #sun-rays-22{
    height: .8rem;
    width: 3.4rem;
    background: var(--yellow-color);
    margin: -48% 0 0 -72%;
    transform: rotate(38deg);
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
}

.box .blue #sun-rays-23{
    height: .8rem;
    width: 3.4rem;
    background: var(--yellow-color);
    margin: -40% 0 0 -48%;
    transform: rotate(58deg);
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
}

.box .blue #sun-rays-24{
    height: .9rem;
    width: 3.4rem;
    background: var(--yellow-color);
    margin: -35% 0 0 -12%;
    transform: rotate(78deg);
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
}
/**
**/







.box .yellow{
    width: 45rem;
    height: 7.5rem;
    background: var(--yellow-color);
}

.box .green{
    width: 45rem;
    height: 7.5rem;
    background: var(--green-color);
}

/**
.box .blue .yellow-cover{
    width: 8rem;
    height: 8rem;
    position: absolute;
    margin: 8rem 0 0 34rem;
    border-radius: 50%;
    background: var(--cover-color);
} **/